{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container-fluid mt-3">
    <div class = "post-entry">
        <link rel="stylesheet" href="{% static '/CSS/images.css'%}">
        <img src="/media/{{object.category_image}}" alt="{{object.title}}">
        <h2>{{ object.title }}</h2>
        <br>
        <h5>Published by :{{ object.author }}</h5>
        <h6>Location: {{ object.location}}</h6>
        <br>
        <br>
        <p> {{ object.article_body }}</p>
    </div>
</div>
{% endblock content %}