.profile {
    width: 32%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.profile-image {
    width: 32%;
    height: auto;
}

.profile-name {
    font-size: 2em;
    margin-top: 0;
}
.profile-description {
    font-size: 1.2em;
    color: #666;
}

@media (max-width: 600px) {
    .profile {
        padding: 20px;
    }
    .profile-name {
        font-size: 1.5em;
    }
    .profile-description {
        font-size: 1em;
    }
}